/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

/* light mode */
.navColorLight{
    color: #FBFFDC;
    background-color: #9394a5 ;
}

.bodyColorLight{
    background-color: #d2d3db;
}

.divColorLight{
    background-color: #e4e5f1;
}

/* night mode */
.navColorDark{
    color: #00b3b3;
    background-color:  #395B64;
}
.bodyColorDark{
    background-color: #2C3333;
}

.divColorDark{
    background-color: #6d8585;
}

#spinner   {  
           
    animation: spin 1s linear infinite;
    color: red;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.inline{
display: flex;
}
.center{
flex:left;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;


}

.UpButton{
    float: right;
    display: block;
    width: 100%;
    height: 10%;
    margin: 5px 1px 5px 3px;
}